

<ion-content scrollY="false">
  <!-- <div>
    <div class="backdrop" [ngClass]="backdropVisible ? 'fade-in' : 'fade'"></div>
    <app-player (openStateChanged)="toggleBackdrop($event)"></app-player>
  </div> -->
  <ion-tabs>
    <div >
      <ion-progress-bar [value]="currentPosition"></ion-progress-bar>
      <ion-toolbar button (click)="onPlayerClick()">
          <ion-thumbnail slot="start" >
            <ion-img *ngIf="currentMusic.img" [src]="currentMusic.img" ></ion-img>
            <img *ngIf="!currentMusic.img" src="assets/icon/music2.png">
          </ion-thumbnail>
          <div class="title">
            <ion-label  >{{currentMusic.title}}</ion-label>
          </div>
          <ion-buttons slot="end" >
            <ion-button (click)="onPlayClick()" *ngIf="!isPlaying">
              <ion-icon name="play" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="onPauseClick()" *ngIf="isPlaying">
              <ion-icon name="pause" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="onNextClick()">
              <ion-icon name="play-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
    </div>


    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="library">
        <ion-label>Bibliothèque</ion-label>
        <ion-icon name="list-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="playlists">
        <ion-label>Playlists</ion-label>
        <ion-icon name="folder-open-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-label>Profil</ion-label>
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>

