<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-label>Bibliothèque</ion-label>
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="playlists">
      <ion-label>Playlists</ion-label>
      <ion-icon name="folder-open-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-label>Profil</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
