.drawer{
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  width: 100%;
  border-radius: 20px;
  bottom: calc(-80vh + env(safe-area-inset-bottom));
  height: 150vh;
  z-index: 11;
  background: #fff;
}

.player-pull{
  background: #cccccc;
  height: 4px;
  width: 60px;
  border-radius: 2px;
}

.title{
  padding-left: 20px;
}

.img{
  padding-left: 10px;
}
