<ion-app>
  <ion-content class="noScroll">
    <ion-menu side="start" menuId="menu1">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            MY BEATZ
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/musics/tabs/library">
              <ion-icon name="list-outline" slot="start"></ion-icon>
              <ion-label >Bibliothèque</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/musics/tabs/playlists">
              <ion-icon name="folder-open-outline" slot="start"></ion-icon>
              <ion-label>Playlists</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" (click)="onLogout()" button>
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Déconnexion</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-content>
</ion-app>
